RELEASE_VERSION="DEV"
RELEASE_DATE="DEV"
UPDATE_IP="http://localhost:3000"
GIT_INSTALL_ADDR="http://localhost:3000/ClassroomResources/"
WEBSITES_GITEA_ADDR="http://localhost:3000/api/v1/repos/search?uid=5&limit=200"
WEBSITES_REPO_ADDR="http://localhost:3000/api/v1/repos/ClassroomResources/"
CIS_CLASS_SERVER_PORT="4500"
